@import url(../resources/fonts.css);
body {
    font-family: 'Prompt';
    background-color: #333333;
    color: #eeeeee;
    text-align: center;
    cursor:default;
    background-image: url(../resources/images/background.jpg);
    background-size: 1920px;
    margin: 0;
}
.title {
    font-family: 'Playfair';
    color: #ffffff;
    text-align: left;
    font-size: 50pt;
    margin-left: 1%;
    box-shadow: 10px 10px #2d4b0c, 20px 20px #a13e3e;
    position: relative;
    width: 30%;
    left: 0;
}

.titleContainer {
    font-family: 'Playfair';
    color: #ffffff;
    text-align: left;
    font-size: 50pt;
    margin-left: 1%;
    position: relative;
    width: 30%;
    left: 0;

}
#subTitle {
    text-align: left;
    position: absolute;
    top: 6%;
    left: 1%;
}
b {
    font-family: 'M Plus';
}
span {
    font-family: 'M Plus';
}
td {
    position: relative;
    width: 10%;
}
tr {
    position: relative;
}
.heading {
    font-family: 'Playfair';
    color: #ffffff;
}
#nav {
    list-style-type: none;
    text-align: right;
    margin-right: 1.5%;
}
#nav li {
    display: inline-block;
    margin-right: 10px;
    border-bottom-color: #a13e3e;
    border-bottom-style: none;
    border-bottom-width: 2.5pt;
    transition: 0.5s;
    cursor: pointer;
}
.underline {
    position:relative;
    width:0%;
    height: 0.5%;
    margin-bottom: -10px;
    background-color: #a13e3e;
    transition: 0.4s;
}
#nav li span:hover+.underline {
    width: 100%
}
#nav li span:hover+#nav li::after {
    content: ' >'
}
#nav li::after {
    content: ''
}
#banner {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}
#mainContent {
    position: absolute;
    top: 25%;
}